<section class="sobre-museu">
  <h1 class="titulo-centralizado">Normas de Visitação</h1>

  <div class="intro">
    <p>
      Em fase inicial de implantação, o Museu da Computação da Universidade Federal de Uberlândia (UFU) encontra-se em sala temporária 1B215, Bloco 1B, Campus Santa Mônica, 
      com o acervo ainda em processo de organização. Por esse motivo, as visitas devem ser agendadas previamente com mínimo de 5 dias de antecedência,
       por meio do e-mail institucional: museucomp&#64;facom.ufu.br.
    </p>
  </div>

  <div class="secao-historia">
    <h2>Visitas</h2>
    <p>
     As visitas são organizadas em sessões de 20 minutos, conduzidas por monitores, alunos do projeto de extensão do museu.
      Os monitores recebem os visitantes, orientam o fluxo no espaço e fornecem informações sobre o uso e a interação possível com os equipamentos expostos.
      O espaço comporta até 15 visitantes por sessão, garantindo segurança, qualidade na experiência e preservação do acervo.
    </p>
  </div>

  <div class="secao-missao">
    <h2>Exposições</h2>
    <p>
     As exposições são apresentadas em bancadas e superfícies adaptadas, uma vez que o museu ainda não dispõe de mobiliário expositivo definitivo. 
     Apesar das limitações estruturais, a visita oferece uma oportunidade enriquecedora para conhecer equipamentos históricos, documentos raros e elementos fundamentais 
     da trajetória da computação na UFU e no Brasil.
    </p>
  </div>
</section>