<section class="virtual-tour-page" >
  <div class="virtual-tour-header" *transloco="let t; scope:'institutional';">
    <h1>{{t('institutional.tour.title')}}</h1>
    <p>{{t('institutional.tour.intro')}}</p>
  </div>

  <div class="tour-viewer-wrapper">
    <div id="panorama" class="tour-viewer"></div>
  </div>

  <section class="timeline-section" *transloco="let t; scope:'institutional';">
    <div class="section-title">
      <h2>{{t('institutional.tour.timelineTitle')}}</h2>
      <p>{{t('institutional.tour.timelineIntro')}}</p>
    </div>

    <div class="timeline-container" *transloco="let t; scope:'institutional';">
      <button class="btn-nav" (click)="itemAnteriorTimeline()" [disabled]="indiceAtualTimeline === 0">&lt;</button>
      
      <div class="timeline-content-wrapper">
        <div class="timeline-image">
          <img 
            [src]="linhaDoTempoArmazenamento[indiceAtualTimeline].imagem" 
            [alt]="linhaDoTempoArmazenamento[indiceAtualTimeline].titulo"
            (click)="abrirImagem(linhaDoTempoArmazenamento[indiceAtualTimeline].imagem)"
            class="imagem-clicavel"
          >
        </div>
        <div class="timeline-info">
          <span class="ano-badge">{{ linhaDoTempoArmazenamento[indiceAtualTimeline].ano }}</span>
          <h3>{{ linhaDoTempoArmazenamento[indiceAtualTimeline].titulo }}</h3>
          <p>{{ linhaDoTempoArmazenamento[indiceAtualTimeline].descricao }}</p>
        </div>
      </div>

      <button class="btn-nav" (click)="proximoItemTimeline()" [disabled]="indiceAtualTimeline === linhaDoTempoArmazenamento.length - 1">&gt;</button>
    </div>

    <div class="timeline-indicators">
      <span *ngFor="let image of imagensTimeline; let i = index" 
            class="indicator" 
            [class.active]="i === indiceAtualTimeline"
            (click)="irParaItemTimeline(i)">
      </span>
    </div>
  </section>
  <section class="museum-items-section" *transloco="let t; scope:'institutional';">
    <div class="section-title">
      <h2>{{t('institutional.tour.itemsTitle')}}</h2>
      <p>{{t('institutional.tour.itemsIntro')}}</p>
    </div>

    <div class="cards-grid">
      <article class="museum-card" *ngFor="let item of itensMuseu">
        <div class="card-image">
          <img 
            [src]="item.imagem" 
            [alt]="item.titulo" 
            (click)="abrirImagem(item.imagem)"
            class="imagem-clicavel"
          />
        </div>

        <div class="card-content">
          <h3>{{ item.titulo }}</h3>
          <p>{{ item.descricao }}</p>
        </div>
      </article>
    </div>
  </section>
</section>

<div class="modal-overlay" *ngIf="imagemSelecionada" (click)="fecharImagem()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="btn-fechar" (click)="fecharImagem()">&times;</button>
    <img [src]="imagemSelecionada" [alt]="'institutional.tour.enlargedImageAlt' | transloco"/>
  </div>
</div>