<div class="dashboard-container">
  <div class="dashboard-header">
    <h1 class="welcome-title">Estatísticas Oficiais</h1>
    <p class="welcome-subtitle">Dados em tempo real fornecidos pelo Google Analytics.</p>
  </div>

  <div class="iframe-container">
    <iframe 
      [src]="googleDashboardUrl" 
      frameborder="0" 
      style="border:0" 
      allowfullscreen 
      sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
    </iframe>
  </div>
</div>