<div class="news-list" *ngIf="newsList$ | async as newsItems; else loadingOrEmpty">
  <mat-card *ngFor="let news of newsItems" class="news-card">
    
    <a [routerLink]="['/news/detail', news.id]" class="news-card-image-link">
      <div class="news-card-image-container">
        <img [src]="news.summary.mainImage" [alt]="news.summary.title" class="news-main-image-card">
      </div>
    </a>

    <div class="news-card-content-area">
      <span class="news-category">{{ news.summary.category }}</span>
      
      <a class="news-title-link" [routerLink]="['/news/detail', news.id]">
        <h3 class="news-title-text">{{ news.summary.title }}</h3>
      </a>

      <div class="news-description">
        <p>{{ news.summary.description }}</p>
      </div>

    </div>
    <div class="news-card-action-container">
        <a [routerLink]="['/news/detail', news.id]" class="btn-card-action">Ler Notícia</a>
      </div>

  </mat-card>
</div>

<ng-template #loadingOrEmpty>
  <div class="loading-or-empty-container">
    <div *ngIf="!(newsList$ | async); else noNews">Carregando notícias...</div>
    <ng-template #noNews>Nenhuma notícia encontrada.</ng-template>
  </div>
</ng-template>