<div class="container perfis mt-3">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md col-6">
      <a href="/about" class="btn btn-sm btn-outline-primary rounded-pill p-2 h-100 w-100 mb-3">Sobre</a>
    </div>

    <div class="col-md col-6">
      <a href="/news" class="btn btn-sm btn-outline-primary rounded-pill p-2 h-100 w-100 mb-3">Notícias</a>
    </div>

    <div class="col-md col-6">
      <a href="/resources" class="btn btn-sm btn-outline-primary rounded-pill p-2 h-100 w-100 mb-3">Recursos</a>
    </div>

    <div class="col-md col-6">
      <a href="https://tainacan.facom.ufu.br" class="btn btn-sm btn-outline-primary rounded-pill p-2 h-100 w-100 mb-3">Coleção</a>
    </div>

    <div class="col-md-2 col-6">
      <a href="/visita-virtual" class="btn btn-sm btn-outline-primary rounded-pill p-2 h-100 w-100 mb-3">Visitação Virtual</a>
    </div>
    
    <div class="col-md col-6">
      <a href="/norms" class="btn btn-sm btn-outline-primary rounded-pill p-2 h-100 w-100 mb-3">Normas</a>
    </div>

    <div class="col-md col-6">
      <a href="/donations" class="btn btn-sm btn-outline-primary rounded-pill p-2 h-100 w-100 mb-3">Doações</a>
    </div>
  </div>
</div>