<section class="sobre-museu">
  <h1 class="titulo-centralizado">Sobre o Museu Virtual UFU</h1>

  <div class="intro">
    <p>
      Bem-vindo ao Museu Virtual da Computação da UFU! Nosso objetivo primordial é tornar a história da
      computação acessível a todos, possibilitando que pessoas de qualquer parte do mundo conheçam
      os nossos acervos e entendam a transformação tecnológica que influencia o mundo atual. Este ambiente
      foi criado para manter viva a história, promover o aprendizado e fortalecer a ligação entre a universidade e a
      sociedade.
    </p>
  </div>

  <div class="secao-historia">
    <h2>História</h2>
    <p>
      Idealizado em 2025, o Museu da Computação começou como uma iniciativa da Faculdade de Computação (FACOM)
      da UFU, junto ao Centro de Tecnologia da Informação e Comunicação (CTIC) e outros departamentos. Essa
      ideia brotou do fascínio pela trajetória tecnológica e do desejo de manter vivos os objetos e relatos
      que ilustram o desenvolvimento dos sistemas de computação na universidade e em Uberlândia. A proposta
      busca reunir e organizar equipamentos, e também construir um ambiente dinâmico de conhecimento e
      exploração.
    </p>
  </div>

  <div class="secao-missao">
    <h2>Missão</h2>
    <p>
      A nossa missão é cuidar e facilitar a exploração da história da informática, focando em
      particular no conjunto de materiais e nas histórias da UFU e do pessoal de Uberlândia. Almejamos ser
      um local para estudo, ensino e compartilhamento de conhecimento, incentivando a importância do legado
      tecnológico, enriquecendo o aprendizado universitário e aproximando a instituição de ensino e a população
      por meio de vivências dinâmicas, tanto online quanto (em breve) físicas.
    </p>
  </div>

   <div class="secao-equipe">
                <h2>Equipe Docente & Coordenação</h2>
                <div class="grid-cards">
                    <!-- Card 1 -->
                    <div class="card-membro">
                        <div class="avatar">MA</div>
                        <div class="membro-nome">Maria Adriana</div>
                        <div class="membro-cargo">Coordenação</div>
                    </div>
                    <!-- Card 2 -->
                    <div class="card-membro">
                        <div class="avatar">PH</div>
                        <div class="membro-nome">Paulo Henrique</div>
                        <div class="membro-cargo">Docente</div>
                    </div>
                    <!-- Card 3 -->
                    <div class="card-membro">
                        <div class="avatar">LF</div>
                        <div class="membro-nome">Luiz Faina</div>
                        <div class="membro-cargo">Docente</div>
                    </div>
                    <!-- Card 4 -->
                    <div class="card-membro">
                        <div class="avatar">LG</div>
                        <div class="membro-nome">Luiz Gustavo Martins</div>
                        <div class="membro-cargo">Docente</div>
                    </div>
                     <!-- Card 5 -->
                     <div class="card-membro">
                        <div class="avatar">BT</div>
                        <div class="membro-nome">Bruno Travencolo</div>
                        <div class="membro-cargo">Docente</div>
                    </div>
                </div>
            </div>

            <!-- Seção Desenvolvedores (Estilizada com GitHub) -->
            <div class="secao-desenvolvedores">
                <h2>Desenvolvedores</h2>
                <p style="margin-bottom: 20px; color: #666;">Equipe técnica responsável pela implementação e manutenção do Museu Virtual.</p>
                
                <div class="grid-cards">
                    
                    <!-- Dev 1 -->
                    <div class="card-membro">
                        <div class="avatar" style="background-color: #2c3e50;">LS</div>
                        <div class="membro-nome">Leonardo Ferreira Salge</div>
                        <div class="membro-cargo">Teach Lead</div>
                        <a href="https://github.com/salgeee" target="_blank" class="btn-github">
                            <!-- SVG Icon Github -->
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                            GitHub
                        </a>
                    </div>

                    <!-- Dev 2 -->
                    <div class="card-membro">
                        <div class="avatar" style="background-color: #2c3e50;">Fi</div>
                        <div class="membro-nome">Guilherme Gomes Alves</div>
                        <div class="membro-cargo">Developer</div>
                        <a href="https://github.com" target="_blank" class="btn-github">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                            GitHub
                        </a>
                    </div>

                    <!-- Dev 3 -->
                    <div class="card-membro">
                        <div class="avatar" style="background-color: #2c3e50;">PH</div>
                        <div class="membro-nome">Daniel Solis Salge</div>
                        <div class="membro-cargo">Developer</div>
                        <a href="https://github.com/D-Salge" target="_blank" class="btn-github">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                            GitHub
                        </a>
                    </div>

                    <!-- Dev 4 -->
                    <div class="card-membro">
                        <div class="avatar" style="background-color: #2c3e50;">LF</div>
                        <div class="membro-nome">Vinícius Ferreira Salge</div>
                        <div class="membro-cargo">Developer</div>
                        <a href=" https://github.com/vinicius-salge" target="_blank" class="btn-github">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                            GitHub
                        </a>
                    </div>

                    <!-- Dev 5 -->
                    <div class="card-membro">
                        <div class="avatar" style="background-color: #2c3e50;">LG</div>
                        <div class="membro-nome">Leandro Sousa</div>
                        <div class="membro-cargo">Developer</div>
                        <a href="https://github.com/leandrosousa007" target="_blank" class="btn-github">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                            GitHub
                        </a>
                    </div>

                    <!-- Dev 6 -->
                    <div class="card-membro">
                        <div class="avatar" style="background-color: #2c3e50;">BT</div>
                        <div class="membro-nome">Vitor Dias Oliveira</div>
                        <div class="membro-cargo">Developer</div>
                        <a href="https://github.com/vitor-oliveira474" target="_blank" class="btn-github">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                            GitHub
                        </a>
                    </div>
                </div>
            </div>

</section>