    <div class="about-container" *transloco="let t; scope: 'institutional';">

      <header class="about-header">
        <h1 class="titulo-centralizado">{{t('institutional.about.title')}}</h1>
        <p class="intro-text">{{t('institutional.about.intro')}}</p>
      </header>

      <div class="info-grid">
        <div class="info-card">
          <div class="card-icon"><i class="fas fa-landmark"></i></div>
          <h2>{{t('institutional.about.historyTitle')}}</h2>
          <p>{{t('institutional.about.historyText')}}</p>
        </div>

        <div class="info-card">
          <div class="card-icon"><i class="fas fa-bullseye"></i></div>
          <h2>{{t('institutional.about.missionTitle')}}</h2>
          <p>{{t('institutional.about.missionText')}}</p>
        </div>
      </div>

      <section class="secao-equipe">
        <h2 class="section-title">{{t('institutional.about.teamTitle')}}</h2>
        <div class="grid-cards">
          <div class="card-membro">
            <div class="avatar">
              <img src="../../../public/professores/maria.jpg" alt="Maria Adriana">
            </div>
            <div class="membro-nome">Maria Adriana</div>
            <div class="membro-cargo">{{t('institutional.about.coordinationRole')}}</div>
          </div>
          <div class="card-membro">
            <div class="avatar">
              <img src="../../../public/professores/paulo.jpg" alt="Paulo Henrique">
            </div>
            <div class="membro-nome">Paulo Henrique</div>
            <div class="membro-cargo">{{t('institutional.about.professorRole')}}</div>
          </div>
          <div class="card-membro">
            <div class="avatar">
              <img src="../../../public/professores/faina.jpg" alt="Luiz Fernando Faina">
            </div>
            <div class="membro-nome">Luiz Fernando Faina</div>
            <div class="membro-cargo">{{t('institutional.about.professorRole')}}</div>
          </div>
          <div class="card-membro">
            <div class="avatar">
              <img src="../../../public/professores/gustavo.jpg" alt="Luiz Gustavo Martins">
            </div>
            <div class="membro-nome">Luiz Gustavo Martins</div>
            <div class="membro-cargo">{{t('institutional.about.professorRole')}}</div>
          </div>
          <div class="card-membro">
            <div class="avatar">
              <img src="../../../public/professores/bruno.jpg" alt="Bruno Travencolo">
            </div>
            <div class="membro-nome">Bruno Travencolo</div>
            <div class="membro-cargo">{{t('institutional.about.professorRole')}}</div>
          </div>
          <div class="card-membro">
            <div class="avatar">
              <img src="../../../public/professores/daniel.jpg" alt="Daniel Duarte Abdala">
            </div>
            <div class="membro-nome">Daniel Duarte Abdala</div>
            <div class="membro-cargo">{{t('institutional.about.professorRole')}}</div>
          </div>
        </div>
      </section>

      <section class="secao-desenvolvedores">
        <h2 class="section-title">{{t('institutional.about.devsTitle')}}</h2>
        <p class="subtitle-text">{{t('institutional.about.devsSubtitle')}}</p>

        <div class="grid-cards">
          <div class="card-membro">
            <div class="avatar dev-avatar">LS</div>
            <div class="membro-nome">Leonardo Ferreira Salge</div>
            <div class="membro-cargo">{{t('institutional.about.techLeadRole')}}</div>
            <a href="https://github.com/salgeee" target="_blank" class="btn-github">
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
          <div class="card-membro">
            <div class="avatar dev-avatar">GA</div>
            <div class="membro-nome">Guilherme Gomes Alves</div>
            <div class="membro-cargo">{{t('institutional.about.devRole')}}</div>
            <a href="https://github.com/GomesGA" target="_blank" class="btn-github">
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
          <div class="card-membro">
            <div class="avatar dev-avatar">DS</div>
            <div class="membro-nome">Daniel Solis Salge</div>
            <div class="membro-cargo">{{t('institutional.about.devRole')}}</div>
            <a href="https://github.com/D-Salge" target="_blank" class="btn-github">
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
          <div class="card-membro">
            <div class="avatar dev-avatar">VS</div>
            <div class="membro-nome">Vinícius Ferreira Salge</div>
            <div class="membro-cargo">Developer</div>
            <a href="https://github.com/vinicius-salge" target="_blank" class="btn-github">
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
          <div class="card-membro">
            <div class="avatar dev-avatar">LS</div>
            <div class="membro-nome">Leandro Sousa</div>
            <div class="membro-cargo">{{t('institutional.about.devRole')}}</div>
            <a href="https://github.com/leandrosousa007" target="_blank" class="btn-github">
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
          <div class="card-membro">
            <div class="avatar dev-avatar">LS</div>
            <div class="membro-nome">Mateus Alves Viegas</div>
            <div class="membro-cargo">{{t('institutional.about.devRole')}}</div>
            <a href="https://github.com/MateusViegasCode" target="_blank" class="btn-github">
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
          <div class="card-membro">
            <div class="avatar dev-avatar">VO</div>
            <div class="membro-nome">Vitor Dias Oliveira</div>
            <div class="membro-cargo">{{t('institutional.about.devRole')}}</div>
            <a href="https://github.com/vitor-oliveira474" target="_blank" class="btn-github">
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
        </div>
      </section>

    </div>