<mat-card class="video-detail-container">
    <mat-card-header class="video-detail-header">
        <mat-card-title class="video-detail-title"></mat-card-title>
        <mat-card-subtitle class="video-detail-category"></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="video-container">
        <app-video-player src=""/>

        <div class="divider"></div>

        <article class="video-description">
            <p></p>
        </article>
    </mat-card-content>
    <div class="divider"></div>
    <mat-card-footer class="colaborators-container">
        <div class="colaborators-section">
            <mat-card-subtitle class="colaborators-subtitle">COLABORADORES</mat-card-subtitle>
            <ul>
                <li></li>
            </ul>
        </div>

        <div class="colaborators-section">
            <mat-card-subtitle class="colaborators-subtitle">CONVIDADOS</mat-card-subtitle>
            <ul>
                <li></li>  
            </ul>
        </div>
    </mat-card-footer>
</mat-card>