<footer class="br-footer" id="footer">
  <div class="container-lg">
    <div class="br-grid">

      <img class="logo-gov-br" [src]="'/public/logos/gov-white.png'" alt="Logo gov.br"/>

      <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="footer-title">Institucional</div>
        <ul class="br-list">
          <li><a target="_blank" rel="noopener noreferrer" href="/about">Sobre o Museu</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="/donations">Doações</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="/about">Nossa Equipe</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="footer-title">Assuntos</div>
        <ul class="br-list">
          <li><a target="_blank" rel="noopener noreferrer" href="https://tainacan.facom.ufu.br/">Acervo</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="/news">Notícias</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="/magazine">Revistas</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="footer-title">Centrais de Conteúdo</div>
        <ul class="br-list">
          <li><a target="_blank" rel="noopener noreferrer" href="/games">Jogos Educativos</a></li>
          <li><a href="#">Vídeos</a></li>
          <li><a href="#">Imagens</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="footer-title">Canais de Atendimento</div>
        <ul class="br-list">
          <li><a href="#">Fale Conosco</a></li>
          <li><a href="#">Agendar Visitação</a></li>
          <li><a href="#">Perguntas Frequentes</a></li>
        </ul>
      </div>
    </div>
    </div>

    <hr class="my-3">

    <div class="footer-bottom">
      <div class="social-links">
        <div class="footer-title mb-2">Redes Sociais</div>
        <a target="_blank" rel="noopener noreferrer" href="https://x.com/UFU_Oficial" class="br-button circle" target="_blank" aria-label="Acesse nosso X (antigo Twitter)">
          <i class="fab fa-x-twitter"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/museu.compufu/" class="br-button circle" target="_blank" aria-label="Acesse nosso Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/ComunicacaoUfu" class="br-button circle" target="_blank" aria-label="Acesse nosso Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/school/ufuoficial/" class="br-button circle" target="_blank" aria-label="Acesse nosso Linkedin">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/CanaldaFACOM" class="br-button circle" target="_blank" aria-label="Acesse nosso YouTube">
          <i class="fab fa-youtube"></i>
        </a>
      </div>

      <div class="assigns">
      

        <div class="logo-facom-container">
        <a target="_blank" rel="noopener noreferrer" href="https://facom.ufu.br/" title="Logo FACOM">
          <img [src]="'/public/logos/facom-logo.png'" alt="logo-FACOM" class="logo-FACOM"/>
        </a>
        </div>
        
        <div class="logo-ufu-container">
        <a target="_blank" rel="noopener noreferrer" href="https://ufu.br/" title="Logo UFU">
          <img [src]="'/public/logos/ufu_white_hor.png'" alt="Logo UFU" class ="logo-ufu"/>
        </a>
      </div>

      <div class="logo-acesso-container">
      <a target="_blank" rel="noopener noreferrer" href="https://www.gov.br/acessoainformacao/" title="Acesso à informação">
          <img [src]="'/public/logos/acesso-informacao.svg'"  alt="Logo Acesso à Informação" class="logo-acesso-footer"/>
      </a>
      </div>

    </div>
    </div>
  </div>
</footer>
