<footer class="br-footer" id="footer">
  <div class="container-lg" *transloco="let t">
    <div class="br-grid">

      <img class="logo-gov-br" [src]="'/public/logos/gov-white.png'" alt="Logo gov.br"/>

      <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="footer-title">{{t('footer.institutional')}}</div>
        <ul class="br-list">
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('about')">{{t('breadcrumb.about')}}</a></li>
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('donations')">{{t('breadcrumb.donations')}}</a></li>
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('statistics')">{{t('breadcrumb.statistics')}}</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="footer-title">{{t('footer.subject')}}</div>
        <ul class="br-list">
          <li><a target="_blank" rel="noopener noreferrer" href="https://tainacan.facom.ufu.br/">{{t('breadcrumb.collection')}}</a></li>
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('news')">{{t('breadcrumb.news')}}</a></li>
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('magazine')">{{t('breadcrumb.magazine')}}</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="footer-title">{{t('footer.content')}}</div>
        <ul class="br-list">
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('tour')">{{t('breadcrumb.tour')}}</a></li>
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('games')">{{t('breadcrumb.games.title')}}</a></li>
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('videos')">{{t('breadcrumb.videos')}}</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="footer-title">{{t('footer.service')}}</div>
        <ul class="br-list">
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('norms')">{{t('breadcrumb.norms')}}</a></li>
          <li><a href="#">{{t('footer.contact')}}</a></li>
          <li><a target="_blank" rel="noopener noreferrer" [routerLink]="nav.route('accessibility')">{{t('breadcrumb.accessibility')}}</a></li>
        </ul>
      </div>
    </div>
    </div>

    <hr class="my-3">

    <div class="footer-bottom">
      <div class="social-links">
        <div class="footer-title mb-2">{{t('menu.social')}}</div>
        <a target="_blank" rel="noopener noreferrer" href="https://x.com/UFU_Oficial" class="br-button circle" target="_blank" [attr.aria-label]="t('footer.social.twitter')">
          <i class="fab fa-x-twitter"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/museu.compufu/" class="br-button circle" target="_blank" [attr.aria-label]="t('footer.social.instagram')">
          <i class="fab fa-instagram"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/ComunicacaoUfu" class="br-button circle" target="_blank" [attr.aria-label]="t('footer.social.facebook')">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/school/ufuoficial/" class="br-button circle" target="_blank" [attr.aria-label]="t('footer.social.linkedin')">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/CanaldaFACOM" class="br-button circle" target="_blank" [attr.aria-label]="t('footer.social.youtube')">
          <i class="fab fa-youtube"></i>
        </a>
      </div>

      <div class="assigns">
      

        <div class="logo-facom-container">
        <a target="_blank" rel="noopener noreferrer" href="https://facom.ufu.br/" title="Logo FACOM">
          <img [src]="'/public/logos/facom-logo.png'" alt="logo-FACOM" class="logo-FACOM"/>
        </a>
        </div>
        
        <div class="logo-ufu-container">
        <a target="_blank" rel="noopener noreferrer" href="https://ufu.br/" title="Logo UFU">
          <img [src]="'/public/logos/ufu_white_hor.png'" alt="Logo UFU" class ="logo-ufu"/>
        </a>
      </div>

      <div class="logo-acesso-container">
      <a target="_blank" rel="noopener noreferrer" href="https://www.gov.br/acessoainformacao/" [title]="t('footer.info')">
          <img [src]="'/public/logos/acesso-informacao.svg'"  [alt]="'Logo ' + t('footer.info')" class="logo-acesso-footer"/>
      </a>
      </div>

    </div>
    </div>
  </div>
</footer>
