<div class="puzzle-container">
  <div *ngIf="!gameStarted" class="puzzle-header">
    <h1>Puzzle de Linux</h1>
    <p>
      Ajude Tux, mascote do sistema operacional Linux, a chegar no seu amigo GNU
      GPL e a adquirir as 4 liberdades essenciais:
      <b>rodar, estudar, modificar e redistribuir</b>
    </p>
    <div class="start-screen">
      <button class="start-button" (click)="startGame()">Começar Puzzle</button>
    </div>
  </div>
</div>
<div *ngIf="gameStarted">
  <div class="puzzle-content">
    <h2>{{ puzzles[currentPuzzle].question }}</h2>

    <p *ngFor="let options of puzzles[currentPuzzle].options">{{ options }}</p>
    <div class="terminal">
      <label for="command"> tuxtux-desktop:~$ </label>
      <input
        type="text"
        id="fname"
        name="command"
        [formControl]="cliUserInput"
      />
      <input type="submit" value="Enviar" (click)="isCorrect(cliUserInput)" />
    </div>
  </div>
  <div class="overlay"></div>
</div>
