.puzzle-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.puzzle-header {
  text-align: center;
}

.puzzle-header h1 {
  color: darkblue;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.start-button,
.restart-button {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover,
.restart-button:hover {
  background-color: #2980b9;
}

.puzzle-content {
  background-color: #fff;
  color: #333;
  border: 1p, #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.puzzle-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.terminal {
  display: flex;
  border-radius: 8px;
  background-color: #333;
  padding: 1rem;
  padding-bottom: 2rem;
}

.terminal label {
  color: chartreuse;
}

.terminal input {
  border-radius: 6px;
  background: gray;
  color: #fff;
  margin: 5px;
}
