<div class="personalities-list" *ngIf="personalitiesList$ | async as personalities; else loadingOrEmpty">
  <mat-card *ngFor="let personality of personalities" class="personality-card">
    
    <a [routerLink]="['/personalities/detail', personality.id]" class="personality-card-image-link">
      <div class="personality-card-image-container">
        <img [src]="personality.summary.mainImage" [alt]="personality.summary.title" class="personality-main-image-card">
      </div>
    </a>

    <div class="personality-card-content-area">
      <span class="personality-category">{{ personality.summary.category }}</span>
      
      <a class="personality-title-link" [routerLink]="['/personalities/detail', personality.id]">
        <h3 class="personality-title-text">{{ personality.summary.title }}</h3>
      </a>

      <div class="personality-description">
        <p>{{ personality.summary.description }}</p>
      </div>

    </div>
    <div class="personality-card-action-container">
        <a [routerLink]="['/personalities/detail', personality.id]" class="btn-card-action">Ler Mais</a>
      </div>
  </mat-card>
</div>

<ng-template #loadingOrEmpty>
  <div class="loading-or-empty-container">
    <div *ngIf="!(personalitiesList$ | async); else noPersonalities">Carregando...</div>
    <ng-template #noPersonalities>Nenhum artigo encontrado!.</ng-template>
  </div>
</ng-template>