<div class="video-list-container">
    
    <ng-container *ngIf="videosList$ | async as videos; else loadingVideos">
        <mat-card class="video-card" *ngFor="let video of videos">
            
            <a [routerLink]="nav.route('videos/detail/' + video.id)" class="video-card-image-link">
                <div class="video-card-image-container">
                    <img mat-card-image class="video-main-image-card"
                    [src]="video.summary.coverUrl"
                    [alt]="video.summary.title"
                    width="350" height="100">
                </div>
            </a>

            <div class="video-card-content-area">
                <mat-card-header class="video-card-header-no-avatar">
                    <div>
                        <mat-card-subtitle class="video-category">{{ video.summary.category }}</mat-card-subtitle>
                        <mat-card-title class="video-card-title-custom">
                            <a class="video-title" [routerLink]="nav.route('videos/detail/' + video.id)">{{ video.summary.title }}</a>
                        </mat-card-title>
                    </div>
                </mat-card-header>
            </div>

            <div class="video-card-action-container">
                <a [routerLink]="nav.route('videos/detail/' + video.id)" class="btn-card-action">Ver Vídeo</a>
            </div>
            
        </mat-card>
    </ng-container>

    <ng-template #loadingVideos>
        <div class="loading-videos-container">
            <p>Carregando vídeos...</p>
        </div>
    </ng-template>

</div>